.nombre-usuario {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1rem;
}

.default-width {
  width: auto;
}

.full-width {
  width: 100%;
}

.user-input {
  margin-bottom: 11px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
  padding: 0 !important;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}

.loadSpinner {
  display: flex;
  justify-content: center;
  color: #6a88b1;
}

:host ::ng-deep {
  .p-datatable {
    tbody {
      tr:nth-child(even) {
        background: #f5f5f5;
      }
    }
  }

  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #3e608f;
    border-color: #3e608f;
  }

  .p-paginator-last,
  .p-paginator-next,
  .p-paginator-prev,
  .p-paginator-first,
  .p-paginator-page:not(.p-highlight) {
    color: #3e608f !important;
    &:hover {
      color: #3e608f !important;
    }
  }

  .p-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(62 96 143 / 50%);
  }
}

@media screen and (max-width: 700px) {
  .boton-pdf {
    display: block;
  }
  .buscador {
    width: 100%;
  }
  .icono-pdf {
    display: none;
  }
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
            color: #656565;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }

    .p-datatable-hoverable-rows .p-selectable-row {
      cursor: initial;
    }
  }
}

.row {
  max-width: 100%;
}
