<div style="height: 20px; background-color: gray;"></div>
<div class="portada">
  <div class="barraLateral">
    <h4>{{ 'demo.selector' | translate}}</h4>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'demo.lenguaje' | translate}}</mat-label>
      <mat-select (selectionChange)="hndUsaLenguaje($event.value)">
        <mat-option value="es">Castellano</mat-option>
        <mat-option value="en">English</mat-option>
        <mat-option value="ca">Valencià</mat-option>
      </mat-select>
    </mat-form-field>
    <h4>@ViewChild</h4>
    <button (click)="hndNuevoPais()" class="boton-primario btn m-0">New Planet</button>
  </div>
  <div>
    <editar-perfil></editar-perfil>
  </div>
</div>





<router-outlet></router-outlet>