<div style="height: 20px; background-color: gray;"></div>
<div class="portada">
  <div class="barraLateral">
    <h4>{{ 'demo.selector' | translate}}</h4>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'demo.lenguaje' | translate}}</mat-label>
      <mat-select (selectionChange)="hndUsaLenguaje($event.value)">
        <mat-option value="es">Castellano</mat-option>
        <mat-option value="en">English</mat-option>
        <mat-option value="ca">Valencià</mat-option>
      </mat-select>
    </mat-form-field>
    <h4>@ViewChildComponent</h4>
    <button (click)="nuevoPais()">New Planet</button>
  </div>
  <div>
    <editar-perfil></editar-perfil>
  </div>
</div>



<!-- ejemplos de translate
<div>
  <p>{{ 'demo.saludo' | translate:{'name': name} }}</p>
  <div [innerHTML]="'demo.parrafo' | translate"></div>
</div>
-->

<!-- <form class="container-fluid formulario
mat-app-background" [formGroup]="registroUsuario" (ngSubmit)="hndRegistrarUsuario()">

  <div class="row">
    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.nombre' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-user" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="nombre" type="text"
          placeholder="{{ 'perfil.placeholder.nombre' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['nombre'].dirty || registroUsuario.controls['nombre'].touched) &&
            registroUsuario.controls['nombre'].invalid &&
            registroUsuario.controls['nombre'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['nombre'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '20' } }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['nombre'].errors?.['pattern']">
          {{ 'registro.campo-no-valido' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.apellidos' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-user" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="apellidos" placeholder="{{ 'perfil.placeholder.apellidos' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['apellidos'].dirty || registroUsuario.controls['apellidos'].touched) &&
            registroUsuario.controls['apellidos'].invalid &&
            registroUsuario.controls['apellidos'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['apellidos'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '60' } }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['apellidos'].errors?.['pattern']">
          {{ 'registro.campo-no-valido' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.sexo' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-venus-mars" style="color: #607d8b;"></i> &nbsp;</span>
        <mat-select matNativeControl formControlName="sexo">
          <mat-option value="M">{{ 'perfil.mujer' | translate }}</mat-option>
          <mat-option value="H">{{ 'perfil.hombre' | translate }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="registroUsuario.controls['sexo'].invalid && registroUsuario.controls['sexo'].errors?.['required']">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 user-input">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'perfil.fecha-nacimiento' | translate }}</mat-label>
        <input matInput [matDatepicker]="fechaNacimiento" formControlName="fechaNacimiento" readonly />
        <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
        <mat-datepicker #fechaNacimiento></mat-datepicker>
        <mat-error *ngIf="
          registroUsuario.controls['fechaNacimiento'].invalid && registroUsuario.controls['fechaNacimiento'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 col-lg-3 user-input">
      <mat-form-field *ngIf="prefijosInternacionales" class="full-width">
        <mat-label>{{ 'perfil.prefijo' | translate }}</mat-label>
        <span matPrefix>
          <flag-icon country="{{ bandera }}" squared></flag-icon> &nbsp;
        </span>
        <mat-select formControlName="prefijo" (selectionChange)="cambiarBandera($event)">
          <mat-option *ngFor="let prefijo of prefijosInternacionales" [value]="prefijo.value">
            <mat-icon>
              <flag-icon *ngIf="prefijo.codigo" country="{{ prefijo.codigo }}" squared></flag-icon>
            </mat-icon>
            {{ prefijo.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="
            registroUsuario.controls['prefijo'].invalid &&
            registroUsuario.controls['prefijo'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 col-lg-3 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.telefono' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-phone" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="telefono" placeholder="{{ 'perfil.placeholder.telefono' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['telefono'].dirty || registroUsuario.controls['telefono'].touched) &&
            registroUsuario.controls['telefono'].invalid &&
            registroUsuario.controls['telefono'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['telefono'].errors?.['pattern']">
          {{ 'registro.campo-no-valido' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['telefono'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '20' } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 col-lg-3 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.email' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-envelope-square" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="email" placeholder="{{ 'perfil.placeholder.email' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['email'].dirty || registroUsuario.controls['email'].touched) &&
            registroUsuario.controls['email'].invalid &&
            registroUsuario.controls['email'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['email'].errors?.['email']">
          {{ 'registro.email-no-valido' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['email'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '60' } }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.direccion' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-map-marked-alt" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="direccion" placeholder="{{ 'perfil.placeholder.direccion' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['direccion'].dirty || registroUsuario.controls['direccion'].touched) &&
            registroUsuario.controls['direccion'].invalid &&
            registroUsuario.controls['direccion'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['direccion'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '50' } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6 user-input" style="text-align: left;">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.ciudad' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-city" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="ciudad" placeholder="{{ 'perfil.placeholder.ciudad' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['ciudad'].dirty || registroUsuario.controls['ciudad'].touched) &&
            registroUsuario.controls['ciudad'].invalid &&
            registroUsuario.controls['ciudad'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['ciudad'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '50' } }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.codigo-postal' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-arrow-circle-right" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="codigoPostal"
          placeholder="{{ 'perfil.placeholder.codigo-postal' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['codigoPostal'].dirty || registroUsuario.controls['codigoPostal'].touched) &&
            registroUsuario.controls['codigoPostal'].invalid &&
            registroUsuario.controls['codigoPostal'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['codigoPostal'].errors?.['pattern']">
          {{ 'registro.campo-no-valido' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.provincia' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-arrow-circle-right" style="color: #607d8b;"></i> &nbsp;</span>
        <input matInput formControlName="provincia" placeholder="{{ 'perfil.placeholder.provincia' | translate }}" />
        <mat-error *ngIf="
            (registroUsuario.controls['provincia'].dirty || registroUsuario.controls['provincia'].touched) &&
            registroUsuario.controls['provincia'].invalid &&
            registroUsuario.controls['provincia'].errors?.['required']
          ">
          {{ 'registro.campo-obligatorio' | translate }}
        </mat-error>
        <mat-error *ngIf="registroUsuario.controls['provincia'].errors?.['maxlength']">
          {{ 'perfil.limite-caracteres' | translate: { num: '10' } }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-4 user-input">
      <mat-form-field class="full-width">
        <mat-label>{{ 'perfil.pais' | translate }}</mat-label>
        <span matPrefix><i class="fas fa-globe" style="color: #607d8b;"></i> &nbsp;</span>
        <mat-select matNativeControl formControlName="pais">
          <mat-option *ngFor="let pais of paises" [value]="pais.alpha2">{{ pais.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <button (click)="anaydirDocumento()" type="button" class="btn btn-primary boton-primario">
    {{ 'perfil.anyadir-documento' | translate }}
  </button>

</form> -->


<router-outlet></router-outlet>